<!DOCTYPE html>
<html lang="en" ng-app='Myapp'>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar | Scheduler</title>



    <!-- ******Scripts******* -->

    <!-- jQuery -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jquery ui -->
    <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.min.js"></script>
    <!-- moment -->
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <!-- bootstrap js -->
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- angualr -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- ui bootstrap -->
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <!-- angular-ui-calendar -->
    <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <!-- fullcalendar -->
    <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

    <script type="text/javascript">
        $( document ).ready(function() {
            $(function() {
                $( "#datepicker1, #datepicker2" ).datetimepicker({
                    timeFormat: "hh:mm tt"
                });
            });
        });
    </script>

        <!-- Links -->
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.min.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div ng-controller="MainController">

        <!-- *********header***** -->
        <header>
            <nav class="navbar navbar-default" role="navigation" >
                <div class="container-fluid">
                    </br>
                    <div class="navbar-header" >
                        <h1 class="text-success">My Scheduler</h1>
                        <br/>
                    </div>
                </div>
            </nav> <!-- end of navbar -->
        </header>

        <div class="container-fluid" >
            <div class="row-fluid">
                <div class="col-xs-12">
                    <div class="row-fuild">
<!-- ********* Event Sidebar ********* -->
                        <div class="col-md-4">
                            <div class="event-sidebar">
                                <!-- New Event - Button trigger Modal**********-->

                               <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Event</button> -->

                                <!-- Modal for new event**********-->

                                <!-- <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog"> -->

                                        <!-- Modal content**********-->
<!--
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title"><strong>New Event</strong></h3>
                                            </div>
                                            <div class="modal-body">
                                                <form data-toggle="validator" role="form">
                                                    <div class="form-group">
                                                        <label for="inputTitle" class="control-label">Title:</label>
                                                        <input ng-model="current.title" type="text" class="form-control" id="inputTitle" placeholder="Title of the event" value="{{current.title}}" required>
                                                    </div> -->
                                                    <!-- <div class="form-group">
                                                        <label for="inputDescription" class="control-label">Description:</label>
                                                        <input type="text" class="form-control" id="inputDescription" placeholder="Details of Event">
                                                    </div> -->
                                                    <!-- <div class="row">
                                                        <div class='col-sm-6'>
                                                            <div class="form-group">
                                                                <label for="date">Start date:</label>
                                                                <div class='input-group date' id='datetimepicker1'>
                                                                    <input ng-model='event.start' data-format="yyyy-MM-dd hh:mm:ss" type='text' class="form-control" id='start' value="{{event.start}}">
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='col-sm-6'>
                                                            <div class="form-group">
                                                                <label for="date">End Date:</label>
                                                                <div class='input-group date' id='datetimepicker2'>
                                                                    <input ng-model="event.end" data-format="yyyy-MM-dd hh:mm:ss" type='text' class="form-control" value="{{event.end}}"/>
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> -->

                                                    <!-- <div class="form-group">
                                                        <button ng-click="newEvent(current)" type="submit" class="btn btn-success">Add New Event</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                                                    </div>
                                                </form>-->
                                                <!-- <button ng-click="saveEvent(current)" type="button" class="btn btn-info">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> --><!--end of modal-->
                                <ul class="list-events">
                                    <div class="event-form">
                                        <li>
                                            <input ng-model="current.title" type="text" class="form-control" id="inputTitle" placeholder="Title of the event" value="{{current.title}}" required>
                                            <div class="form-group">
                                                <label for="date">Start Date/time:</label>
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input ng-model='current.start' data-format="yyyy-MM-dd hh:mm:ss" type='text' class="form-control" id='datepicker1' value="{{event.start}}">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="date">End Date/time:</label>
                                                <div class='input-group date' id='datetimepicker2'>
                                                    <input ng-model="current.end" data-format="yyyy-MM-dd hh:mm:ss" type='text' class="form-control" id='datepicker2' value="{{event.end}}"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- <button ng-click="newEvent(current)" type="submit" class="btn btn-success">Add New Event</button> -->
                                            <button ng-click="saveEvent(current)" type="button" class="btn btn-info">Save</button>
                                        </li>
                                    </div>

                                    <!-- ************Event List*********** -->
                                    <div class="events-list">
                                        <li ng-repeat="event in events">
                                            <div class="single-event">
                                                <div class="event-item">
                                                    <a href="#" ng-click="removeEvent(event)" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                                    <b><p type="text" ng-model="event.title" class="ng-valid ng-dirty"></p>{{event.title}}<p></b>
                                                </div>
                                                <a href="#" ng-click="editEvent(event)" type="button" class="btn btn-xs btn-warning
    "><span class="glyphicon glyphicon-cog" title="edit"></span></a> <br>
                                                {{event.start}} - {{event.end}}
                                                <!--<button ng-click="saveEvent(current)" type="button" class="btn btn-info">Save</button>-->
                                            </div>
                                        </li>
                                    </div>

                                </ul>
                            </div>
                        </div>  <!--Enf of event sidebar-->

                        <div class="col-md-8">
                            <div id="calender" ui-calendar="uiConfig.calender" ng-model="eventSources" calendar="myCalendar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>



</body>
</html>